html {
  font-family: sans-serif;

  text-align: center;
}

img{
  max-width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column-reverse;
}

#song-search>* {
  padding: 3px;
  margin: 3px;

}

.loader {
  display: none;
  margin: auto;
}

@media screen and (min-width: 800px) {
  main {
    flex-direction: row;
  }

  main>* {
    padding: 1rem;
    flex-basis: 50%;
  }
}